<template>
  <nav>
    <router-link
      class="link"
      v-for="link in navLink"
      :key="link.to"
      :to="link.to"
      >{{ link.name }}</router-link
    >
  </nav>
</template>

<script>
export default {
  data() {
    return {
      navLink: [
        { to: "/", name: "Home" },
        { to: "/tensorflow", name: "Tensorflow" },
      ],
    };
  },
};
</script>

<style scoped>
nav {
  background-image: linear-gradient(to right, #1a40af, #2563eb);
  width: 100%;
  padding: 0.5rem 1rem;
}
.link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  color: white;
}
</style>